@charset "utf-8";
h1{
    text-align: center;
}
.item{
    width: 25%;
    background-color: chartreuse;
    margin: 0 auto;
    padding: 10px;
}
h2{
    width: 90%;
    text-align: center;
}
a{
    background-color: orangered;
    color: aliceblue;
    display: block;
   
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
}
body{
    background-color: rgb(218, 248, 248);
}
.img{
    width: 200px;
    height: 200px;
    margin: 0 auto;

}
.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}